<h1><%= t('Editing Phone') %></h1>

<%= render 'form' %>

<br>

<%= link_to t('Show'), contact_phones_path(@contact) %> |
<%= link_to t('Back To Contact'), contact_path(@contact) %> | 
<%= link_to t('Back To First Page'), contacts_path %>