<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br/>
  
  
  <div class="field">
    <!-- <%= f.label :first_name %>-->
    <%= t('First name') %>
    <br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <!-- <%= f.label :last_name %> -->
    <%= t('Last name') %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= t('Chinese first name') %><br>
    <%= f.text_field :chinese_first_name %>
  </div>
  <div class="field">
    <%= t('Chinese last name') %><br>
    <%= f.text_field :chinese_last_name %>
  </div>
  <div class="field">
    <%= t('Nick name') %><br>
    <%= f.text_field :nick_name %>
  </div>
  <div class="field">
    <%= t('Occupation') %><br>
    <%= f.text_field :occupation %>
  </div>
  <div class="field">
    <%= t('Current address') %><br>
    <%= f.text_field :current_address %>
  </div>
  <br/>
  <div class="field">
    <%= t('Remark') %><br>
    <%= f.text_area :remark %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
