<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @contact.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @contact.last_name %>
</p>

<p>
  <strong>Chinese first name:</strong>
  <%= @contact.chinese_first_name %>
</p>

<p>
  <strong>Chinese last name:</strong>
  <%= @contact.chinese_last_name %>
</p>

<p>
  <strong>Nick name:</strong>
  <%= @contact.nick_name %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @contact.occupation %>
</p>

<p>
  <strong>Title:</strong>
  <%= @contact.title %>
</p>

<p>
<ul>
<% @contact.email_addresses.each do |address| %>
  <li>
      <%= link_to address.email, contact_email_addresses_path(@contact) %>
      <!--<%= link_to 'X', contact_email_addresses_path(@contact, format: :json), method: 'delete', "data-confirm": "Are you sure to delete it?", remote: true, class: "delete-button" %> -->
      <td><%= link_to 'X', [@contact,address], method: :delete, data: { confirm: 'Are you sure to delete it?' } %></td>
  </li>
      <% end %>
  
</ul>
</p>

<p>
<%= link_to 'New Email address', new_contact_email_address_path(@contact) %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
