<p id="notice"><%= notice %></p>

<table width=100%>
  <tr>
    <td colspan="2"><h1><%=t('Contact Info') %></h1></td>
  </tr>
  <tr>
    <td width="200px"><strong><%=t('First name')%>:</strong></td>
    <td><%= @contact.first_name %></td>
  </tr>
  <tr>
    <td><strong><%=t('Last name')%>:</strong></td>
    <td><%= @contact.last_name %></td>
  </tr>
  
  <tr>
    <td><strong><%=t('Chinese first name')%>:</strong></td>
    <td><%= @contact.chinese_first_name %></td>
  </tr>
  <tr>
    <td><strong><%=t('Chinese last name')%>:</strong></td>
    <td><%= @contact.chinese_last_name %></td>
  </tr>
  <tr>
    <td><strong><%=t('Nick name')%>:</strong></td>
    <td><%= @contact.nick_name %></td>
  </tr>
  <tr>
    <td><strong><%=t('Occupation')%>:</strong></td>
    <td><%= @contact.occupation %></td>
  </tr>
  <tr>
    <td><strong><%=t('Current Address')%>:</strong></td>
    <td><%= @contact.current_address %></td>
  </tr>
  <tr>
    <td><strong><%=t('Remark')%>:</strong></td>
    <td><%= @contact.remark %></td>
  </tr>
</table>

<br/>
<p>
  <b><%= link_to t('Show Email Address'), contact_email_addresses_path(@contact) %>
     &nbsp&nbsp <%= link_to t('New Email address'), new_contact_email_address_path(@contact) %></b>
</p>


<p>
  <ul>
    <% @contact.email_addresses.each do |address| %>
      <li>
          <%= link_to address.email, edit_contact_email_address_path(@contact, address) %>
          <!--<%= link_to 'X', contact_email_addresses_path(@contact, format: :json), method: 'delete', "data-confirm": "Are you sure to delete it?", remote: true, class: "delete-button" %> -->
          <td><%= link_to 'X', [@contact,address], method: :delete, data: { confirm: 'Are you sure to delete it?' } %></td>
      </li>
    <% end %>
  </ul>
</p>

<br/>

<p>
  <b><%= link_to t('Show Phone'), contact_phones_path(@contact) %>
     &nbsp&nbsp <%= link_to t('New Phone'), new_contact_phone_path(@contact) %></b>
</p>

<p>
  <ul>
    <% @contact.phones.each do |phone| %>
      <li>
          <%= link_to phone.category + ' ' + phone.tel, edit_contact_phone_path(@contact, phone) %>
          <!--<%= link_to 'X', contact_phones_path(@contact, format: :json), method: 'delete', "data-confirm": "Are you sure to delete it?", remote: true, class: "delete-button" %> -->
          <td><%= link_to 'X', [@contact,phone], method: :delete, data: { confirm: 'Are you sure to delete it?' } %></td>
      </li>
    <% end %>
  </ul>
</p>

<br/>


<!-- Company -->
<p>
  <b><%= link_to t('Show Company'), contact_companies_path(@contact) %>
     &nbsp&nbsp <%= link_to t('New Company'), new_contact_company_path(@contact) %></b>
</p>

<p>
  <ul>
    <% @contact.companies.each do |company| %>
      <li>
          <%= link_to company.comp_name + ' ' + company.comp_tel, edit_contact_company_path(@contact, company) %>
          <!--<%= link_to 'X', contact_phones_path(@contact, format: :json), method: 'delete', "data-confirm": "Are you sure to delete it?", remote: true, class: "delete-button" %> -->
          <td><%= link_to 'X', [@contact,company], method: :delete, data: { confirm: 'Are you sure to delete it?' } %></td>
      </li>
    <% end %>
  </ul>
</p>

<br/>

<br/>

<%= link_to t('Edit'), edit_contact_path(@contact) %> |
<%= link_to t('Back'), contacts_path %>
