<p id="notice"><%= notice %></p>

<p>
  <strong>Comp name:</strong>
  <%= @company.comp_name %>
</p>

<p>
  <strong>Comp tel:</strong>
  <%= @company.comp_tel %>
</p>

<p>
  <strong>Comp addr:</strong>
  <%= @company.comp_addr %>
</p>

<p>
  <strong>Comp country:</strong>
  <%= @company.comp_country %>
</p>

<p>
  <strong>Comp city:</strong>
  <%= @company.comp_city %>
</p>

<p>
  <strong>Title:</strong>
  <%= @company.title %>
</p>


<%= link_to 'Edit', edit_contact_company_path(@email_address) %> |
<%= link_to 'Back', contact_companies_path %>
