<p id="notice"><%= notice %></p>

<h1>Listing Email Addresses</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
    
    
    
    
    <% @email_addresses.each do |email_address| %>
      <tr>
        <td><%= email_address.email %></td>
        
        
        
        <td><%= link_to 'Show', contact_email_address_path(@contact,email_address) %></td>
        <td><%= link_to 'Edit', edit_contact_email_address_path(@contact,email_address) %></td>
        <td><%= link_to 'Destroy', [@contact,email_address], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
        
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Email address', new_contact_email_address_path %>
